<h2>Последние посты</h2>

<% @results.each do |post| %>
 <p>
	  <%= post['content']  %>
	  <br />
	  Добавлен <%= post['created_date'] %> 
	  <br />
	  <a href= "/details/<%= post['id'] %> ">Comments</a>
	</p>
<% end %>	